{
	// [optional] Port used by the web server, overriden by the arg -port=[port], falling back on process.env.PORT property if abscent, defaulting on 3000
	"port": 3000, 
	// [optional] Host used by web server, overriden by the arg -host=[host], falling back on process.env.HOST property if abscent, defaulting on null (Bun default, 0.0.0.0)
	"host": 0.0.0.0, 
	"repositories": 
	[
		{
			// [required] url for the repo that'll update .path when a push is received
			"url": "https://github.com/MyUser/MyRepo/",
			// [required] path to the local repo that'll be updated when a push is received from the repo url above
			"path": "/path/to/the/local/repo/",
			// [optional] branch name to respond to pushes to (if ommitted, will accept any branch push) [Not recommended]
			"branch": "refs/heads/main",
			// [optional] secret used aganinst a sha-256 hash to validate the update comes from an authorized source (leave empty to accept any request) [Recommended!]
			"secret": "myVerySecretSecret",
			// [optional] bash command executed cd'ed in .path to update the local repo, default (if property absent) command below
			// /!\ make sure to put your own and replace /usr/bin/git if you have git in a different installation!
			"update":"/usr/bin/git fetch --all && /usr/bin/git checkout --force \"origin/main\"",
			// [required] bash command executed after the update command to re-deploy the .path repo, example that would work for this repo using systemd on a ubuntu linux system:
			"deploy":"/root/.bun/bin/bun install && service github-auto-deploy restart"
		}
	]
}